pkg-resources==0.0.0
atomicwrites==1.3.0
attrs==19.3.0
Babel==2.7.0
backport-collections==0.1
beautifulsoup4==4.8.1
cffi==1.13.1
chardet==3.0.4
coverage==4.5.4
cryptography==2.8
defusedxml==0.6.0
diff-match-patch==20181111
dj-database-url==0.5.0
Django==2.2.7
django-admin-colors==0.2.0
django-appconf==1.0.3
django-appdata==0.2.2
django-classy-tags==0.9.0
django-csvimport==2.13
django-filter==2.2.0
django-formtools==2.1
django-haystack==2.8.1
django-js-asset==1.2.2
django-meta==1.5.2
django-phonenumber-field==1.3.0
django-polymorphic==2.0.3
django-spurl==0.6.6
django-standard-form==1.1.1
django-templatetag-sugar==1.0
djangorestframework==3.10.3
djangorestframework-simplejwt==4.3.0
et-xmlfile==1.0.1
Faker==0.9.1
html5lib==1.0.1
importlib-metadata==0.23
jdcal==1.4.1
jwcrypto==0.6.0
lxml==4.4.1
MarkupPy==1.14
mixer==6.1.3
more-itertools==7.2.0
odfpy==1.4.0
openpyxl==3.0.0
packaging==19.2
phonenumbers==8.10.22
phonenumberslite==8.10.22
Pillow==6.2.0
pluggy==0.13.0
psycopg2==2.8.3
psycopg2-binary==2.8.4
py==1.8.0
pycparser==2.19
PyJWT==1.7.1
pyparsing==2.4.4
pytest==5.2.2
pytest-cov==2.8.1
pytest-django==3.6.0
python-dateutil==2.8.1
python-slugify==4.0.0
pytz==2019.3
PyYAML==5.1.2
six==1.12.0
soupsieve==1.9.5
sqlparse==0.3.0
tablib==0.14.0
text-unidecode==1.3
tzlocal==2.0.0
Unidecode==1.0.23
URLObject==2.4.3
wcwidth==0.1.7
webencodings==0.5.1
xlrd==1.2.0
xlwt==1.3.0
YURL==1.0.0
zipp==0.6.0
